* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Anonymous Pro', monospace;
    color: black;
}

[data-tooltip] {
    position: relative; 
}

[data-tooltip]::after {
    content: attr(data-tooltip); 
    position: absolute; 
    width: 300px; 
    left: 0; top: 0; 
    background: #222b33; 
    color: white;
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    opacity: 0;
    transition: 1s; 
} 
[data-tooltip]:hover::after {
    opacity: 1; 
    top: 2em; 
}

.tooltip {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #cfd8dc;
    margin-left: 80%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputNew {
    border: 3px solid #cfd8dc;
    width: 250px;
    height: 40px;
}

hr {
    margin-top: 5px;
    border-bottom: 2px solid #cfd8dc;
}

::-webkit-input-placeholder {
    padding: 5px;
}

.submBtn {
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.lst li {
    display: inline-block;
}

.hint {
    color: #82a4ae;
    margin-left: 25px;
}

.main {
    position: relative;
    margin-left: 245px;
    margin-top: 75px;
}

ul.hr li {
    display: inline-block;
}

header {
    position: absolute;
    top: 0px;
    margin-left: 200px;
    width: 80%;
    height: 60px;
    border-bottom: 1px solid #eaedef;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 21pt;
}

header p {
    margin-left: 45px;
}

#leftBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #eaedef;
}

#logo {
    background-color: #222b33;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#currentPage {
    background-color: #d9dee2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

#currentPage ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul li {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#menu ul li:hover {
    background-color: #d9dee2;
    border-radius: 5px;
}

#user {
    background-color: #d9dee2;
    display: flex;
    justify-content: left;
    align-items: center;
}

#search {
    position: relative;
    margin-left: 80%;
}

#search p {
    display: inline;
}

.formSearch {
    border-radius: 10px;
    width: 120px;
    height: 20px;
}

.btnSearch {
    border-radius: 10px;
    width: 60px;
    height: 20px;
}

#showDB {
    position: relative;
    margin-left: 245px;
    margin-top: 100px;
    max-width: 80%;
}

.header {
    position: absolute;
    background-color: #263238;
    top: 0px;
    height: 60px;
    width: 100%;
}

#returnArrow {
    min-width: 40px;
    width: 10%;
    background-color: #82a4ae;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#returnArrow p {
    font-size: 18pt;
}

#returnArrow1 {
    min-width: 180px;
    width: 10%;
    background-color: #82a4ae;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    margin-top: -40px;
}

#returnArrow1 p {
    font-size: 18pt;
}

ul {
    list-style-type: none;
}

#block1 {
    position: relative;
    max-width: 40%;
}

#block1 p {
    position: relative;
    margin-left: 10%;
}

#block1 h3, h4 {
    position: relative;
    margin-left: 10%;
}

#block1 input {
    position: relative;
    margin-left: 10%;
}

.infoOK {
    position: relative;
    background-color: #bedec3;
}

.infoOK p {
    margin-left: 10%;
}

.infoError {
    position: relative;
    background-color: #ff525d;
}

.infoError p {
    margin-left: 10%;
}

#tableAmort {
    border: 1px solid #263238;
    border-collapse: collapse;
    text-align: center;
    display: none;
    max-width: 80%;
}

#tableAmort td{
    max-width: 150px;
    word-wrap: break-word;
}

#showDB th {
    border: 1px solid #263238;
    max-width: 150px;
    word-wrap: break-word;
}

#showDB td {
    border: 1px solid #263238;
    max-width: 150px;
    word-wrap: break-word;
}

#showDB {
	border: 1px solid #263238;
    border-collapse: collapse;
    text-align: center;
}

.formCSS {
    border: 1px solid saddlebrown;
    width: 150px;
    padding: 30px;
}

#hideTable {
    display: none;
}

#srch {
    display: none;
}